html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.squaresMainContainer {
    display: flex;
    flex-direction: column;
}

.squareContainer {
    display: flex;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: navajowhite;
    margin: 5px;
}

.square:hover {
    background-color: rgb(85, 84, 83);
}